body {
    font-size: 16px;
    color: #fff;
    background-color: #ADD8E6;
    font-family: 'Oxygen', sans-serif;
}

/**Header**/
#header-nav {

    background-color: #7ec8e3;
    border-radius: 0;
    border:0;
}

/** Logo Image **/

#logo-img {

    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    
    
}

#logoresize {
    border-radius: 80%;
  }

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {  /* Το κείμενο της επιχείρησης */
  
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p { /* το κείμενο δίπλα απο την σημαία */
    color: whitesmoke;
    font-size: 1em;
    margin-top: 15px;
}

.navbar-brand span {
    margin-left: 10px;
}

#nav-list {

    margin-top:10px;
}

#nav-list a {

    color:#337ab7;
    text-align: center;
}

#nav-list a:hover {

    background: #E7E7E7;
}

#nav-list a span {

    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a { /*Phone Number */

    text-align: right;
    padding-bottom: 0;
}

#phone div { /*We Deliver */

    color: whitesmoke;
    text-align: right;
    padding-right: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {

    border:1px solid #337ab7;
    background-color: white;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}


/* End Header */

/* Main Content/Tiles */
#menu-tile, #special-tile, #map-tile ,#aboutUs{

    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border:2px solid #337AB7 ;
    overflow: hidden;
}

#aboutUs {

    background-color: #337AB7;
    
}

#aboutUs > p{
    
    margin-top: 60px;
    
}

#menu-tile:hover, #special-tile:hover, #map-tile:hover {

    box-shadow: 0 1px 5px 1px whitesmoke;
    
}

#menu-tile {

    background: url('../images/menu-tile.jpg') no-repeat;
    background-position: center;
}

#special-tile {

    background: url('../special-tile.jpg') no-repeat;
    background-position: center;
}

#menu-tile span, #special-tile span, #map-tile span {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

#menu-tile:hover >span, #special-tile:hover >span, #map-tile:hover >span {

    background-color: #fff;
    color: #000;
}

/* FOOTER */
.panel-footer {

    background-color: #7ec8e3;
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    border-top: 0;
}

.panel-footer div.row { /*Αφορά όλη την σειρά με τις ώρες, διεύθυνση και τα σχόλια. 
    Στην ουσία αυξάνουμε το κενό μεταξύ της σειράς
    και του div με το Copyright */

    margin-bottom: 35px;
}

#hours, #address { /*Αυξάνουμε το ύψος των γραμμών  στα στοιχεία που αναφέρονται για τις ώρες και την διεύθυνση*/

    line-height: 2;
}

#hours > span, #address > span { /*Αυξάνουμε το μέγεθος της γραμματοσειράς στα span 
    που βρίσκονται μέσα στα στοιχεία με id hours, address*/

    font-size: 1.3em;
}

#address p { /*Επιλέγουμε την παράγραφο μέσα στο στοιχείο με id address.Εδώ είναι το κείμενο για την παράδοση.
    Μειώνουμε την γραμματοσειρά,δίνουμε χρώμα στην γραμματοσειρά,και μειώνουμε το ύψος της γραμμής.*/

    color: #337AB7;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {  /*Επιλέγουμε τα σχόλια των πελατών*/
    font-style: italic;
}

#testimonials p:nth-child(2) { /*Με αυτό τον κώδικα θέλουμε η 2η παράγραφο να έχει margin top 25px*/
    margin-top: 25px;
}

/*END FOOTER*/


/** MENU CATEGORIES **/

.category-tile {

    position: relative;
    border: 2px solid #337AB7;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-tile span {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: .8;
    background-color: #fff;
    color: #337AB7;
}

.category-tile:hover {

    box-shadow: 0 1px 5px 1px  whitesmoke;
    
}

.category-tile:hover > span {

    background-color: #337AB7;
    color:#fff
}

#menu-categories-title > a {

    background-color: #337AB7;
    color:#fff;
    height: 66px;
}

#menu-categories-title > a:hover {

    background-color: #fff;
    color:#337AB7;
}
#menu-categories-title + div {

    margin-bottom: 50px;
}

/** END MENU CATEGORY **/

/***** Single-Menu Category *****/

.menu-item-tile { /*Αναφέρεται στο κελί κάθε φαγητού και μεγαλώνουμε την απόσταση απο το στοιχείο που βρίσκεται κάτω*/

    margin-bottom: 25px;
}

.menu-item-tile hr { /*Αναφέρεται στην γραμμή που εμφανίζεται όταν η ανάλυση είναι xs*/

    width: 80%;
}

.menu-item-tile .menu-item-price { /*
    (Πιο συγκεκριμένα αναφέρεται στο στοιχείο με κλάσση .menu-item-price που βρίσκεται μέσα σε στοιχείο με κλάσση menu-item-title
     Αναφέρεται στην τιμή κάθε πιάτου*/

    font-size: 1.1em; /*Αυξάνουμε την γραμματοσειρά*/
    text-align: right;/*Το στοιχίζουμε δεξιά*/
    margin-top: -15px;
    margin-right: -15px;
}

.menu-item-tile .menu-item-price span {

    font-size: .6em; /*Μειώνουμε την γραμματοσειρά μέσα στο span που 
    βρίσκεται μέσα σε στοιχείο με κλάσση menu-item-price το οποίο βρίσκεται σε στοιχείο με κλάσση menu-item-title*/
}

.menu-item-photo {

    position: relative;
    border: 2px solid #337AB7;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px; /*Βάζουμε το μέγιστο πλάτος να είναι το ίδιο με το μέγιστο πλάτος της φωτογραφίας.*/
}

.menu-item-photo>div {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 88px;
    background-color: #337AB7;
}

.menu-item-description {

    padding-right: 30px;
}

h3.menu-item-title {

    margin: 0 0 10px;
}

.menu-item-details {

    font-size: .9em;
    font-style: italic;
    color: #337AB7;
}

/***** END Single-Menu Category *****/

/****************** Large device only ******************/

@media(min-width: 1200px) {

    .jumbotron {

        background: url('../images/store_jumbotron_1200.jpg') no-repeat;
        height: 675px;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }

    #aboutUsjumb{

        background: url('../images/aboutUs_1200.jpg') no-repeat;
        height: 675px;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }
}

/****************** Medium device only ******************/
@media (max-width: 1199px) and (min-width: 992px) {

    .jumbotron {

        background: url('../images/store_jumbotron_992.jpg') no-repeat;
        height: 558px;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }

   

    #aboutUsjumb{

        background: url('../images/aboutUs_992.jpg') no-repeat;
        height: 558px;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }
}
/****************** Small device only ******************/
@media (max-width: 991px) and (min-width: 768px) {

   
   
    .jumbotron {

        background: url('../images/store_jumbotron_768.jpg') no-repeat;
        height: 432px;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }

    #aboutUsjumb{

        background: url('../images/aboutUs_768.jpg') no-repeat;
        height: 432px;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }

    #aboutUs > p{
    
        margin-top: 30px;
        
    }

    #menu-categories-title > a {

        margin-bottom: 10px;
    }

}
/****************** Extra Small device only ******************/
@media (max-width: 767px) and (min-width: 480px) {


    .navbar-brand {

        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 { /* Restaurant Name */

        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }

    .navbar-brand p { /* Απλα...ελληνικα */
        margin-top: 12px;
        font-size: .8em;
    }

    .navbar-brand p img { /* flag*/
        height: 20px;
    }

    #collapsable-nav a { /*Collapsed nav menu glyph */
        font-size: 1.2em;
    }
    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
    }

    .jumbotron {

        margin-top: 30px;
        padding: 0;
        box-shadow: 0 0 50px #337AB7;
        border: 2px solid #337AB7;
    }
    #aboutUs > p{
    
        margin-top: 20px;
        
    }
    #aboutUs {

        overflow: auto;
    }
    #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #7ec8e3;
        color: #fff;
        text-shadow: 1px 1px 1px #222;
        overflow: auto;
    }
    #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    
    #menu-tile{

        width:100%;
        margin: 0 auto 15px;
    }

    /* Footer */

    .panel-footer section {

        margin-bottom: 30px;
        text-align: center;
    }

    .panel-footer section:nth-child(3) {

        margin-bottom: 0;
    }

    .panel-footer section hr {

        width: 50%;
    }

    /*End Footer*/

    /**** Single Category Page ****/

    .menu-item-photo {

        margin-right: auto;
    }

    .menu-item-tile .menu-item-price{

        text-align: center;
    }

    .menu-item-description {

        text-align: center;
    }

    /**** End Single Category Page ****/

    #menu-categories-title > a {

        margin-bottom: 10px;
    }
}

    /****************** Super Extra Small device only ******************/

    @media (max-width: 479px) { 

        

        .navbar-brand {

            padding-top: 10px;
            height: 80px;
        }
    
        .navbar-brand h1 { /* Restaurant Name */
    
            padding-top: 10px;
            font-size: 5vw; /* 1vw = 1% of viewport width */
        }
    
        .navbar-brand p { /* Απλα...ελληνικα */
            margin-top: 12px;
            font-size: .8em;
        }
    
        .navbar-brand p img { /* flag*/
            height: 20px;
        }

        #call-btn > a {
            font-size: 1.5em;
            display: block;
            margin: 0px 20px;
            margin-top: 30px;
            padding: 10px;
            border: 2px solid #fff;
            background-color: #7ec8e3;
            color: #fff;
            text-shadow: 1px 1px 1px #222;
            overflow: auto;
        }
        #xs-deliver {
            margin-top: 5px;
            font-size: .7em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }
        #aboutUs >p{
            
            margin-top: 10px;
            
            
        }
        #aboutUs {

            overflow: auto;
        }

        #hours, #address { /*Αυξάνουμε το ύψος των γραμμών  στα στοιχεία που αναφέρονται για τις ώρες και την διεύθυνση*/

            text-align: center;
        }
        #menu-tile{

            width:100%;
            margin: 0 auto 15px;
        }

        #menu-categories-title > a {

            margin-bottom: 10px;
        }


        /** Extra Small for Menu Categories**/

        .col-xxs-12 {
            
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float: left;
            width: 100%;
            

        }

          /**** Single Category Page ****/

    .menu-item-photo {

        margin-right: auto;
    }

    .menu-item-tile .menu-item-price{

        text-align: center;
    }

    .menu-item-description {

        text-align: center;
    }

    /**** End Single Category Page ****/
    }
